# Python template
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

tmp*
.DS_Store

# Clion tmp files
cmake-build-debug/

# vs code tmp files
.vscode/

# tmp file
t.*
t2.*
*.class
*.icloud

# Package Files #
target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
